<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">                 
    
    <mvc:default-servlet-handler />
	<!--启用自动扫描  -->
	<context:component-scan base-package="shiro;sys" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven />
    <!-- 设置springmvc自动转换json，
    	即在有@ResponseBody的controller类返回值会自动转换成request的类型->如request：application/json，那response就是：application/json
    	bean类型的数据spring会使用jackson来自动转换。如特殊情况下我们需要自己对数据进行处理
    	ObjectMapper mapper = new ObjectMapper();
    	mapper.readValue(strJson,new TypeReference<List<UserBean>>(){});
     -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    	<property name="messageConverters"><list><!--json转换器--><ref bean="mappingJacksonHttpMessageConverter" /></list></property>
	</bean>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
    	<property name="messageConverters"><list><ref bean="mappingJacksonHttpMessageConverter" /></list></property>  
	</bean>
    <bean id="mappingJacksonHttpMessageConverter"  
    	class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
    	<property name = "supportedMediaTypes">  
        	<list>
        		<value>text/html;charset=UTF-8</value>  
                <value>text/plain;charset=UTF-8</value>  
                <value>application/json;charset=UTF-8</value>  
	            <value>*/*;charset=UTF-8</value>
	            <value>text/*;charset=UTF-8</value> 
          	</list>  
    	</property>  
	</bean>   
    
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <!-- 前缀 -->
        <property name="prefix" value="/" />
        <!-- <property name="suffix" value=".jsp"></property> -->
    </bean>
    
    <!-- 开启shiro注释 for example, @RequiresRoles, @RequiresPermissions  -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>
	
	<!-- 自定义异常处理1、处理没有访问权限的异常-->  
    <bean id="exceptionResolver" class="sys.exception.MyExceptionResolver"></bean>
</beans>