<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:util="http://www.springframework.org/schema/util"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!-- 基于Form表单的身份验证过滤器 -->
    <bean id="formAuthenticationFilter" class="sys.shiro.FormLoginFilter">
    </bean>
    
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/index.html"/>
    	<property name="successUrl" value="/myweb.html"/>
    	<!-- 认证过滤器 （登录认证，和身份认证）-->
        <property name="filters">
        
        	<!-- 将自定义 的FormAuthenticationFilter注入shiroFilter中 -->
            <util:map><entry key="authc" value-ref="formAuthenticationFilter"/></util:map>
        </property>
        <!-- 授权过滤器（所有的请求都需要授权） -->
        <property name="filterChainDefinitions">
            <value>
            	<!-- 对静态资源设置匿名访问 -->  
                /images/** = anon  
                /js/** = anon
                <!-- /** = authc 所有url都必须认证通过才可以访问 -->  
                /** = authc  
            </value>
        </property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	   <property name="realm" ref="myRealm"/>
	   <!-- 注入缓存管理器 --> 
	   <property name="cacheManager" ref="cacheManager" />
	   <property name="sessionManager" ref="sessionManager"/> 
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	<!-- 自定义realm --> 
	<bean id="myRealm" class="sys.shiro.MyRealm">
		<!-- 开缓存 -->
        <property name="cachingEnabled" value="true" />
        <!-- 认证缓存 -->
        <property name="authenticationCachingEnabled" value="true" />
        <property name="authenticationCacheName" value="authenticationCache" />
        <!-- 授权缓存 -->
        <property name="authorizationCachingEnabled" value="true" />
        <property name="authorizationCacheName" value="authorizationCache" />
		<!-- 认证比较器 -->
	   	<property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"></property> <!-- 加密算法的名称 -->
                <property name="hashIterations" value="1024"></property> <!-- 配置加密的次数 -->
            </bean>
        </property>
	</bean>
	
	 <!-- 缓存管理器 -->  
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">  
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml" />  
    </bean>  
    
    <!-- 自定义会话管理配置 -->  
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>
    
    <!-- 自定义Session存储容器 -->  
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <!-- 用SessionDAO将session保存到ehcache缓存 ,应用于shiro使用ehcache实现集群同步和session复制-->
        <property name="cacheManager" ref="cacheManager" />
    </bean>
</beans>